[Unit]
Description=cudackpt runtime directory
Before=sockets.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/mkdir -p /run/cudackpt
ExecStart=/bin/chmod 0755 /run/cudackpt
ExecStart=/bin/chown root:root /run/cudackpt

[Install]
WantedBy=multi-user.target
